*~
.DS_Store
.ipynb_checkpoints
__pycache__
plot_trainings.ipynb
latest_runs*
TODO.md
*.txt
*.png
sarfa-saliency/
epic/
RL_research_slim/
RL_research_slim/*
RL_research_slim*
*_output/
Eval_*
Eval_*/
